<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish Youtube Downloader</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
</head>
<body>
    <main id="container">
        <h1>Wish Youtube Downloader</h1>
        <div id="input-box">
            <input id="input" type="text" placeholder="Cole a url do video aqui...">
            <button id="load">Carregar</button>
        </div>
        <div id="video">
            <div id="thumbnail"></div>
            <div id="qualities">
                <button id="-LQ-" class="quality">Qualidade baixa</button>
                <button id="-HQ-" class="quality">Qualidade alta</button>
                <button id="-MP3-" class="quality">Somente audio</button>
            </div>
        </div>
        
    </main>
</body>
</html>
