* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: rgb(22, 22, 22);
    backdrop-filter: blur(1px);
    background-size: 300px;
    background-repeat: repeat;
}

p {
    color: rgb(185, 185, 185);
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80vw;
}

#video {
    display: none;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
}

#qualities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50%;
    height: 100%;
}

#thumbnail {
    display: flex;
    width: 50%;
    height: 100%;
}

#input-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

#input {
    padding: 6px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

#input:focus {
    outline: none;
}



.quality {
    font-size: 1.5em;
    width: 100%;
    padding: 30px;
    border-radius: 3px;
}

#load{
    padding: 7px;
    border-radius: 4px;
}

.quality, #load {
    background-color: rgb(168, 0, 0);
    color: white;
    border: none;
    transition-duration: .3s;
}

.quality:hover {
    border-radius: 15px;
}

.quality:hover, #load:hover {
    cursor: pointer;
    background-color: rgb(198, 0, 0);
    text-shadow: 0px 0px 10px white;
    
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
